# Configuración de PostgreSQL (Data Warehouse de la NBA)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_nba_2026
POSTGRES_DB=nba_analytics

# Configuración de Airflow
AIRFLOW_FERNET_KEY=FB0Y69G9kWV8N9gq5Y-vBnxO-b48M_t6L5X16zN8Xoo=